.git
.github
.idea
.vscode
backend/.env
backend/.env.*
backend/vendor
backend/node_modules
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
app/.dart_tool
app/build
app/android/.gradle
app/ios/Pods
backend.zip
*.log
